/*** Kleuren ***/
$wit: #fff;
$background-color: #f4f4f4;

$day-primary-color: #b7b7b7;
$day-secondary-color: #0d2b52;
$day-tertiar-color: #e11227;

$night-primary-color: #b7b7b7;
$night-secondary-color: #0d2b52;
$night-tertiar-color: #e11222;


$font-heading-color: #0d2b52;
$font-color: #818181;
